body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header__logo {
    margin: 0 90px;
    transition: transform 0.2s ease;
}

.header__logo:hover {
    transform: translate(0px,2px);
}

.header__logo--bottom {
    width: 246px;
    height: 102px;
    margin: 54.1px 222.5px 68px 186px;
    transition: transform 0.2s ease;
}

.header__logo--bottom:hover {
    transform: translate(0px,2px)
}

.header__menu {
    height: 48px;
    margin: 0 40px;
    min-width: 480px;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__item {
    font-weight: 600;
    padding: 10px;
    color: #252B42;
    transition: transform 0.2s ease;
}

.menu__item:hover {
    transform: translate(0px,1.5px);
}

.menu__item--color {
    color: #FA4A0C;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    background-image: url(images/rectangle_48.png);
    background-size: 100% 619px;
    background-repeat: no-repeat;
}

.hero__bottom {
    padding: 130px 0;
    background-image: url(images/rectangle_47.png);
    background-size: 100% 619px;
    background-repeat: no-repeat;
}

.hero__text {
    text-align: center;
    font-weight: 700;
    margin-top: 73px;
    margin-bottom: 7px;
}

.hero__title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    margin: 0 0 7px 0;
    width: 937px;
}

.hero__description {
    font-weight: 500;
    margin: 0 0 54px 0;
}

.hero__main--img {
    width: 548px;
    height: 640px;
    background-image: url("./images/group_53.png");
    background-position: 107% 55%;
}

.hero__btn {
    align-items: center;
    background-color: #FA4A0C;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-decoration: none;
    line-height: 36px;
    height: 68px;
    width: 236px;
    transition: transform 0.2s ease;
}

.hero__btn:hover {
    transform: translate(0px,2px);
}

.hero__btn--outline {
    background: none;
    border: solid 1px white;
}

.hero__btn--square {
    border-radius: 10px;
    height: 64px;
    min-width: 142px;
    padding: 18px 31px;
    width: auto;
}

.btn__size {
    height: 60px;
    min-width: 173px;
}

.row__wrapper {
    font-weight: 700;
    display: flex;
    gap: 34px;
}

.app-desc__delimiter {
    text-align: center;
}

.app-desc__delimiter--middle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    margin-top: 72.09px;
}

.line__middle {
    width: 884px;
    height: 3px;
    margin-top: 128.91px;
    background-color: #E4E4E4;
}

.app-desc__figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 78px 0;
}

.app-desc__figure--reverse {
    flex-direction: row-reverse;
}

.app-desc__figure figcaption {
    width: 568px;
}

.app-desc__figure h3 {
    color: #FA4A0C;
}

.app-desc__figure h4 {
    font-weight: 500;
    color: #737373;
}

.app-desc__img {
    width: 602px;
    height: 825px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 170.96px;
    height: 40.99px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    padding: 0 24px 0 0;
    transition: transform 0.2s ease;
}

.nav__item:hover {
    transform: translate(0px,2px);
}

.link__copyright {
    width: 210px;
    height: 18px;
    margin: 102px 150px 104.1px 274px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    transition: transform 0.2s ease;
}

.link__copyright:hover {
    transform: translate(0px,2px);
}

@media (max-width: 900px) {
    .row__wrapper {
        flex-direction: column;
    }
}